@media screen and (min-width: 630px){

  header {
    width: 100%;
  }

  #virtualOrnament {
    position: fixed;
    left: 320px;
  }
}

section {
  width: 300px;
}

#virtualOrnament {
  max-width: 350px;
  display: flex;  
  flex-direction: column;
}
#virtualOrnament form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#video-instructions {
  background-color: black;
  height: 200px;
  width: 300px;
}